---
title: "Create database, tables with relation"
date: 2019-03-29T19:14:46+05:30
draft: False
author: "Nitin Patil"

---

Create a new database named as `employees`

In [ ]:
-- Just in case you want to start afresh, drop the database if it already exists
DROP DATABASE IF EXISTS employees;

-- Create a database
CREATE DATABASE IF NOT EXISTS employees;

-- Change the current database as employees
USE employees;

### Python setup

We will use python interface to communicate with server

In [1]:
import sqlalchemy as db

In [3]:
engine = db.create_engine('mysql+pymysql://its_me:secret@localhost:3306/employees')

Create a handy function to run sql query and display result

In [38]:
def ex(query):
    result = engine.execute(query)
    return result.fetchall() if result.returns_rows else None

### Execute queries

Show all the databases

In [99]:
ex('SHOW DATABASES')

[('employees',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('world',)]

Check what is current database

In [49]:
ex("SELECT DATABASE()")

[('employees',)]

This is mostly for second iteration, Drop the initial table

In [100]:
ex("""DROP TABLE IF EXISTS dept_emp,
                     dept_manager,
                     titles,
                     salaries, 
                     employees, 
                     departments;""")

Show all tables in database

In [101]:
ex("SHOW TABLES;")

[('current_dept_emp',), ('dept_emp_latest_date',), ('sample',)]

### Create tables

Create `employees` table

In [103]:
q = """CREATE TABLE employees (
    emp_no      INT UNSIGNED NOT NULL AUTO_INCREMENT PRIMARY KEY,
    birth_date  DATE            NOT NULL,
    first_name  VARCHAR(20)     NOT NULL,
    last_name   VARCHAR(20)     NOT NULL,
    gender      ENUM ('M','F')  NOT NULL,    
    hire_date   DATE            NOT NULL
);"""

In [102]:
ex(q)

`VARCHAR` - variable-length alphanumeric string, dynamic memory allocation, slower than CHAR

`CHAR` - fixed length character string, static memory allocation, faster than VARCHAR

`AUTO_INCREMENT` - generate unique number automatically when a new record is inserted into a table

`PRIMARY KEY` 
- uniquely identifies each record in a table. 
- Primary keys must contain UNIQUE values, and cannot contain NULL values. 
- A table can have only one primary key, which may consist of single or multiple fields. 
- Must be given on record creation and can not be changed later.

Create `departments` table

In [94]:
ex("""CREATE TABLE departments (
    dept_no     CHAR(4)         NOT NULL,
    dept_name   VARCHAR(40)     NOT NULL,
    PRIMARY KEY (dept_no),
    UNIQUE  KEY (dept_name)
);""")

`UNIQUE  KEY` - all values in column are unique. You can have many UNIQUE constraints per table, but only one PRIMARY KEY constraint per table.

Create `dept_manager` table

In [95]:
ex("""CREATE TABLE dept_manager (
   emp_no       INT UNSIGNED    NOT NULL,
   dept_no      CHAR(4)         NOT NULL,
   from_date    DATE            NOT NULL,
   to_date      DATE            NOT NULL,
   FOREIGN KEY (emp_no)  REFERENCES employees (emp_no)    ON DELETE CASCADE, 
   FOREIGN KEY (dept_no) REFERENCES departments (dept_no) ON DELETE CASCADE,
   PRIMARY KEY (emp_no, dept_no)
); """)

`FOREIGN KEY` 
- a key used to link two tables together.
- is a field (or collection of fields) in one table that refers to the PRIMARY KEY in another table.
- the table containing the foreign key is called the child table, and the table containing the candidate key is called the referenced or parent table.
- the value of foreign key could be NULL
- it doesn't have to be unique

`ON DELETE CASCADE` - means if a record in the parent table is deleted, then the corresponding records in the child table will automatically be deleted.

`UNSIGNED` - only positive number

`MEDIUMINT` - medium sized integer

Create `dept_emp` table

In [96]:
ex("""CREATE TABLE dept_emp (
    emp_no      INT UNSIGNED    NOT NULL,
    dept_no     CHAR(4)         NOT NULL,
    from_date   DATE            NOT NULL,
    to_date     DATE            NOT NULL,
    FOREIGN KEY (emp_no)  REFERENCES employees   (emp_no)  ON DELETE CASCADE,
    FOREIGN KEY (dept_no) REFERENCES departments (dept_no) ON DELETE CASCADE,
    PRIMARY KEY (emp_no, dept_no)
);""")

Create `titles` table

In [97]:
ex("""CREATE TABLE titles (
    emp_no      INT UNSIGNED    NOT NULL,
    title       VARCHAR(50)     NOT NULL,
    from_date   DATE            NOT NULL,
    to_date     DATE,
    FOREIGN KEY (emp_no) REFERENCES employees (emp_no) ON DELETE CASCADE,
    PRIMARY KEY (emp_no,title, from_date)
);""")

Create `salaries` table

In [107]:
ex("""CREATE TABLE salaries (
    emp_no      INT UNSIGNED    NOT NULL,
    salary      INT             NOT NULL,
    from_date   DATE            NOT NULL,
    to_date     DATE            NOT NULL,
    FOREIGN KEY (emp_no) REFERENCES employees (emp_no) ON DELETE CASCADE,
    PRIMARY KEY (emp_no, from_date)
); """)

### ER (entity relationship) diagram

Looking at the ER diagram we can understand the complete picture. How different tables are connected with each other and what kind of data each table contains.

![er_diagram](er_diagram.png)

### References
- [Create ER Diagram of a Database in MySQL Workbench](https://medium.com/@tushar0618/how-to-create-er-diagram-of-a-database-in-mysql-workbench-209fbf63fd03)
- [Employees database](https://dev.mysql.com/doc/employee/en/)