---
title: "Some more queries"
date: 2019-03-29T19:14:46+05:30
draft: False
author: "Nitin Patil"

---

The ALTER TABLE statement is used to add, delete, or modify columns in an existing table.
It is also used to add and drop various constraints on an existing table.

## Setup

In [1]:
import sqlalchemy as db
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

engine = db.create_engine('mysql+pymysql://root:root@localhost:3306/test')

def ex(query):
    result = engine.execute(query)
    return result.fetchall() if result.returns_rows else None

def de(query):
    data = engine.execute(query).fetchall()
    cols = [x[0] for x in engine.execute(query).cursor.description]
    return pd.DataFrame(data=data, columns=cols)

In [2]:
q = "SHOW TABLES"; 
ex(q)

[('student',)]

### Rename table

In [3]:
q = """RENAME TABLE 
student to student_data"""
ex(q)

In [5]:
ex("SHOW TABLES")

[('student_data',)]

### WHERE

In [6]:
ex("""CREATE TABLE world (
    -- column, datatype, constraint
    country    VARCHAR(25) NOT NULL PRIMARY KEY,
    continent  VARCHAR(25) NOT NULL,
    area       INT         NOT NULL,
    population INT,
    gdp        INT
);""")

In [7]:
ex("""INSERT INTO world (country, continent, area, population, gdp) 
VALUES ('Afghanistan', 'Asia', 647500, 31056997, 700),
       ('India', 'Asia', 3287590, 1095351995, 2900),
       ('China', 'Asia', 9596960, 1313973713, 5000),
       ('United States', 'North America', 9631420, 298444215, 37800),
       ('Brazil', 'South America', 8511965, 188078227, 7600),
       ('South Africa', 'Africa', 1219912, 44187637, 10700),
       ('France', 'Europe', 547030,	60876136, 27600);
       """)

In [10]:
q = """SELECT country, area FROM world
WHERE continent = 'Asia' AND gdp = 2900
"""
ex(q)

[('India', 3287590)]

- We can use the comparision operator `=  >  <  >=  <=  !=`

- We can use `AND &&`, `OR ||`, `NOT !` to combine multiple condition in `WHERE` condition.

In [16]:
q = """SELECT country FROM world
WHERE continent LIKE 'A%';
"""
ex(q)

ValueError: unsupported format character ''' (0x27) at index 50

### Concat columns

In [14]:
q = """SELECT CONCAT(country, " ", continent) AS 'Nation',
population/area AS 'Density'
FROM world;
"""
ex(q)

[('Afghanistan Asia', Decimal('47.9645')),
 ('Brazil South America', Decimal('22.0957')),
 ('China Asia', Decimal('136.9156')),
 ('France Europe', Decimal('111.2848')),
 ('India Asia', Decimal('333.1778')),
 ('South Africa Africa', Decimal('36.2220')),
 ('United States North America', Decimal('30.9865'))]

### DISTINCT

In [ ]:
-- unqiue/distinct state from table
q = '''SELECT DISTINCT state
FROM student'''

In [ ]:
-- count of unqiue/distinct state
q = '''SELECT COUNT(DISTINCT state)
FROM student'''

In [ ]:
-- total number of boys in class
q = '''SELECT COUNT(*)
FROM student
WHERE sex='M'
'''

### GROUP BY

In [ ]:
-- How many boys and girls
q = '''SELECT sex, COUNT(*)
FROM student
GROUP BY sex
'''

In [ ]:
-- NUmber of students born in particular month
'''SELECT Month(birth_date) AS 'Month', COUNT(*)
FROM student
GROUP BY Month
ORDER BY Month
'''

### HAVING

In [ ]:
-- States which is having more than 1 students
'''SELECT state, COUNT(state) AS 'Amount'
FROM student
GROUP BY state
HAVING Amount > 1
'''

### Math functions

### References
- https://www.w3schools.com/sql/sql_alter.asp